@disabled-color: #999;
@font-color: #333;
:root{
  
}
::placeholder, :disabled, select {
  color: @disabled-color;
}
body{ 
  display: flex;
  justify-content: center;
  form{
    background-color: white;
  }
  label{
    font-size: 0.8rem;
  }
  button{

  }
  .container{
    padding: var(--universal-padding) ;
  }
  .collapse{
    // añadido centrado del contenido al collapse del fraemwork
    display: flex;
    align-items: center;
    justify-content: center;
  }
  select{
      &:focus{
        color: @font-color; 
      }
      option{
        color: black;
      }
  }
}